/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */

/* latin-ext */
/* @font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin */
/* @font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  background-color: rgb(4, 13, 43);
  font-family: "Open Sans", sans-serif;
  padding: 25px;
  font-size: 18px;
  margin: 10px 400px 25px;
  color: #444;
}

h1 {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 32px;
}

head {
  font-family: "Libre Baskerville", Georgia, serif;
}

/* body{
  
  font-family:Verdana, Helvetica, sans-serif;
  font-size: 24px;}
 */
a {
  font-size: 1em;
}

.container {
  background-color: #fdfffc;
  padding: 70px;
  margin: auto;
}

h2 {
  color: #b7d5d4;
  background-color: #373e40;
  text-align: center;
  margin: 5px;
  border-top: 5px ridge;
  border-bottom: 5px ridge;
}

header {
  padding: 5px;
  display: grid;
  background-color: rgb(0, 68, 255);
  grid-template-columns: 110px auto;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  font-size: 2em;
  color: #0b003b;
}

header img {
  justify-content: center;
  align-content: center;
}

header p {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
}

.logo-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.banner-box img {
  width: 100%;
}

.home-image-1 {
  grid-column: 1/15;
  grid-row: 1/5;
}

.block1 {
  color: #fdfffc;
  background-color: #141414;
  grid-column: 10/20;
  grid-row: 4/6;
  border-radius: 5px;
  padding: 0px 20px;
}

.home-grid-2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.home-image-2 {
  grid-column: 9/19;
  grid-row: 1/5;
}

.block2 {
  color: #fdfffc;
  background-color: #141414;
  grid-column: 3/13;
  grid-row: 4/6;
  border-radius: 5px;
  padding: 0px 20px;
}

.contact-grid {
  padding: 20px;
}

.contact-container h1 {
  color: #fdfffc;
  background-color: rgb(0, 68, 255);
  grid-column: 3/13;
  grid-row: 4/6;
  border-radius: 5px;
  padding: 0px 20px;
}

.account-grid {
  padding: 20px;
  display: grid;

  align-items: center;

  grid-template-columns: repeat(10, 1fr);
}

.account-form h1 {
  color: #fdfffc;
  background-color: #c82a28;
  grid-column: 3/13;
  grid-row: 4/6;
  border-radius: 5px;
  padding: 0px 20px;
}

.account-para {
  color: #fdfffc;
  background-color: #141414;
  margin: 0px;
  border-radius: 5px;
  padding: 10px;
}

img {
  max-width: 100%;
}

.social {
  display: grid;
  grid-template-columns: 90% 1fr 1fr 1fr;
  background-color: #373e40;
  color: #b7d5d4;
}

footer {
  background-color: #df9216;
  text-align: center;
}

a:link {
  color: #b7d5d4;
}

/* visited link */
a:visited {
  color: #305298;
}

/* mouse over link */
a:hover {
  color: #305298;
}

/* selected link */
a:active {
  color: #0000ff;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .home-grid,
  nav ul {
    display: block;
  }

  /* end of media query */
}
