/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); */

/* latin-ext */
/* @font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin */
/* @font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  background-color: rgb(4, 13, 43);
  font-family: "Open Sans", sans-serif;
  padding: 25px;
  font-size: 18px;
  margin: 10px 40px 25px;
  color: rgb(189, 183, 175);
}

@media only screen and (min-width: 67em) {
  body {
    margin: 10px 400px 25px;
  }
}

h1 {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 32px;
}

head {
  font-family: "Libre Baskerville", Georgia, serif;
}

a {
  font-size: 1em;
}

header {
  background-color: rgb(72, 78, 81);

  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 3px;
}

header .headBox {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr);
  grid-template-rows: 50px 50px;
}

header p {
  text-align: center;
}

.logo-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.banner-box img {
  width: 100%;
}

.social {
  display: grid;
  grid-template-columns: 90% 1fr 1fr 1fr;
  background-color: #373e40;
  color: #b7d5d4;
}

footer {
  background-color: #df9216;
  text-align: center;
}

a:link {
  color: #b7d5d4;
}

/* visited link */
a:visited {
  color: #305298;
}

/* mouse over link */
a:hover {
  color: #305298;
}

/* selected link */
a:active {
  color: #0000ff;
}

.contact-container {
  background-color: rgb(51, 55, 58);
}

.required {
  color: red;
  font-size: x-small;
}

.ugh1 {
  margin: 3px;
}

fieldset {
  display: block;
  width: max-content;
  max-width: 100px;
  background-color: #305298;
}

@media screen and (max-width: 550px) {
  .home-grid,
  nav ul {
    display: block;
  }
}
